---
import Theme from '../../assets/scripts/theme-settings.js'

export interface Props {
  min?: integer;
  max?: integer;
}
const { min, max } = Astro.props as Props;
---

<div class="mb-8 last:mb-0">
  <h3 class="text-sm text-gray-900 font-medium">{Theme.Settings.locale.product_form.quantity}</h3>

	<fieldset class="mt-4">
    <legend class="sr-only">Select the quantity</legend>
		<div class="mt-1 flex max-w-max rounded-md border-2 shadow-sm focus-within:border-indigo-500 disabled:cursor-not-allowed" data-quantity-select>
			<button class="group inset-y-0 left-0 flex items-center first:border-r last:border-l px-3 disabled:bg-gray-50 disabled:text-gray-200 disabled:cursor-not-allowed disabled:shadow-none"
					type="button"
					data-update-quantity="minus"
					disabled>
				<span class="sr-only">Minus</span>
				<svg class="w-3 fill-gray-500 sm:text-sm group-disabled:fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"/></svg>
			</button>
			<input type="number"
					name="options[quantity]"
					class="border-0 text-center focus:outline-none appearance-[textfield]"
					data-quantity-input
					placeholder="1"
					value="1"
					size="2"
					min="1"
					max="{% if selected_variant.inventory_management != blank and selected_variant.inventory_policy != 'continue' %}{% if selected_variant.inventory_quantity > 0 %}{{ selected_variant.inventory_quantity }}{% else %}1{% endif %}{% else %}10000{% endif %}" />
			<button class="group inset-y-0 left-0 flex items-center first:border-r last:border-l px-3 disabled:bg-gray-50 disabled:text-gray-200 disabled:cursor-not-allowed disabled:shadow-none"
					type="button"
					data-update-quantity="plus"
					disabled>
				<span class="sr-only">Plus</span>
				<svg class="w-3 fill-gray-500 sm:text-sm group-disabled:fill-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg>
			</button>
		</div>
	</fieldset>
</div>

<script>
	import '../../assets/scripts/quantity-selector.js';

	window.addEventListener('load', event => {
		Theme.jsQuantitySelector.init();
	})
</script>
