---
export interface Props {
  option: object;
  optionIndex: integer;
}
const { option, optionIndex } = Astro.props as Props;
let label = `${option.name}-choice-`;

/**
 * TODO
 * If only single product, no variants, dont show variant selector
 */
---
<div class="mb-8 last:mb-0">
  <h3 class="text-sm text-gray-900 font-medium">{ option.name }</h3>

  <fieldset class="mt-4" data-option-index={optionIndex}>
    <legend class="sr-only">Choose a { option.name }</legend>
    <div class="flex items-center space-x-3">
          <!-- Active: "ring-2 ring-indigo-500" -->
          <!-- disabled  -->
      { option.values.map( (value, index) => {
					let option_label = `${label.toLowerCase()}${index}-label`;
          return <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-white shadow-sm text-gray-900 cursor-pointer">
            <input type="radio" name="size-choice" value="{ value }" disabled class="sr-only" aria-labelledby={ option_label } data-product-option>
            <span id={ option_label }> { value } </span>
						<!-- Below is for disabled only -->
            <span aria-hidden="true" class="absolute -inset-px rounded-md border-2 border-gray-200 pointer-events-none">
              <svg class="absolute inset-0 w-full h-full text-gray-200 stroke-2" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
                <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
              </svg>
            </span>
          </label>
				}
      ) }
    </div>
  </fieldset>
</div>

{/*  Active: "ring-2 ring-indigo-500" */}

{/* Disabled Option:
<label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 sm:py-6 bg-gray-50 text-gray-200 cursor-not-allowed">
		<input type="radio" name="size-choice" value="{ value }" disabled class="sr-only" aria-labelledby="size-choice-0-label">
		<span id="size-choice-0-label"> { value } </span>

		<span aria-hidden="true" class="absolute -inset-px rounded-md border-2 border-gray-200 pointer-events-none">
			<svg class="absolute inset-0 w-full h-full text-gray-200 stroke-2" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
				<line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
			</svg>
		</span>
	</label>
*/}