.product-gallery {
  & > div[data-columns] {
    --column-count: 2;

    &[data-images="3"] {
      --column-count: 3;
    }

    &[data-images="4"] {
      --column-count: 4;
    }

    &[data-images="5"] {
      --column-count: 5;
    }

    &[data-images="6"] {
      --column-count: 6;
    }

    &[data-images="7"] {
      --column-count: 7;
    }

    &[data-images="8"] {
      --column-count: 8;
    }

    grid-template-columns: repeat(var(--column-count), minmax(50%, 1fr));

    @media (min-width: 1024px) {
      & {
        --column-count: 2;
      }

      &[data-columns="3"] {
        --column-count: 3;
      }

      &[data-columns="4"] {
        --column-count: 4;
      }

      &[data-columns="5"] {
        --column-count: 5;
      }

      &[data-columns="6"] {
        --column-count: 6;
      }

      &[data-columns="7"] {
        --column-count: 7;
      }

      &[data-columns="8"] {
        --column-count: 8;
      }

      grid-template-columns: repeat(var(--column-count), minmax(27.5%, 1fr));
    }
  }
}
