---
import Breadcrumb from '../atoms/Breadcrumb.astro';

const { includeHome = true, page } = Astro.props;

function getBreadcrumbs() {
	let json = {};
	console.log(page.tags);
	console.log(page.collections.edges);

	const hasCollectionTag = page.tags.filter( tag => tag.includes('collection:'));

	console.log(hasCollectionTag);


	return json;
}

const currentPage = getBreadcrumbs();

---

<nav aria-label="Breadcrumb">
  <ol role="list" class="max-w-2xl mx-auto px-4 flex items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8">
		{includeHome && <Breadcrumb url="/" label="Home" icon="home" showLabel="false" showIcon="true" />}

		<Breadcrumb label="Men" />

		<Breadcrumb label="Clothing" isLast=true />

    {getBreadcrumbs()}
  </ol>
</nav>
