---

const drawerId = "mobile-nav";
---

<div class="relative z-40 lg:hidden" role="dialog" aria-modal="true" id={drawerId} data-drawer-content>
  <div class="fixed inset-0 bg-black bg-opacity-25 uiOverlay" data-drawer-control={drawerId}></div>

  <div class="fixed max-w-xs w-full flex z-40 uiDrawerContents">
    <div class="relative max-w-xs w-full bg-white shadow-xl pb-12 flex flex-col overflow-y-auto">
      <div class="px-4 pt-5 pb-2 flex">
        <button type="button" class="-m-2 p-2 rounded-md inline-flex items-center justify-center text-gray-400" data-drawer-control={drawerId}>
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- Links -->
      <div class="mt-2">
        <div class="border-b border-gray-200">
          <div class="-mb-px flex px-4 space-x-8" aria-orientation="horizontal" role="tablist">
            <!-- Selected: "text-indigo-600 border-indigo-600", Not Selected: "text-gray-900 border-transparent" -->
            <button id="tabs-1-tab-1" class="text-gray-900 border-transparent flex-1 whitespace-nowrap py-4 px-1 border-b-2 text-base font-medium" aria-controls="tabs-1-panel-1" role="tab" type="button">Women</button>

            <!-- Selected: "text-indigo-600 border-indigo-600", Not Selected: "text-gray-900 border-transparent" -->
            <button id="tabs-1-tab-2" class="text-gray-900 border-transparent flex-1 whitespace-nowrap py-4 px-1 border-b-2 text-base font-medium" aria-controls="tabs-1-panel-2" role="tab" type="button">Men</button>
          </div>
        </div>

        <!-- 'Women' tab panel, show/hide based on tab state. -->
        <div id="tabs-1-panel-1" class="px-4 py-6 space-y-12" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
          <div class="grid grid-cols-2 gap-x-4 gap-y-10">
            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-category-01.jpg" alt="Models sitting back to back, wearing Basic Tee in black and bone." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                New Arrivals
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-category-02.jpg" alt="Close up of Basic Tee fall bundle with off-white, ochre, olive, and black tees." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Basic Tees
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-category-03.jpg" alt="Model wearing minimalist watch with black wristband and white watch face." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Accessories
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-category-04.jpg" alt="Model opening tan leather long wallet with credit card pockets and cash pouch." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Carry
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>
          </div>
        </div>

        <!-- 'Men' tab panel, show/hide based on tab state. -->
        <div id="tabs-1-panel-2" class="px-4 py-6 space-y-12" aria-labelledby="tabs-1-tab-2" role="tabpanel" tabindex="0">
          <div class="grid grid-cols-2 gap-x-4 gap-y-10">
            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-01-men-category-01.jpg" alt="Hats and sweaters on wood shelves next to various colors of t-shirts on hangers." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                New Arrivals
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-01-men-category-02.jpg" alt="Model wearing light heather gray t-shirt." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Basic Tees
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-01-men-category-03.jpg" alt="Grey 6-panel baseball hat with black brim, black mountain graphic on front, and light heather gray body." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Accessories
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>

            <div class="group relative">
              <div class="aspect-w-1 aspect-h-1 rounded-md bg-gray-100 overflow-hidden group-hover:opacity-75">
                <img src="https://tailwindui.com/img/ecommerce-images/mega-menu-01-men-category-04.jpg" alt="Model putting folded cash into slim card holder olive leather wallet with hand stitching." class="object-center object-cover">
              </div>
              <a href="#" class="mt-6 block text-sm font-medium text-gray-900">
                <span class="absolute z-10 inset-0" aria-hidden="true"></span>
                Carry
              </a>
              <p aria-hidden="true" class="mt-1 text-sm text-gray-500">Shop now</p>
            </div>
          </div>
        </div>
      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Company</a>
        </div>

        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Stores</a>
        </div>
      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Create an account</a>
        </div>
        <div class="flow-root">
          <a href="#" class="-m-2 p-2 block font-medium text-gray-900">Sign in</a>
        </div>
      </div>

      <div class="border-t border-gray-200 py-6 px-4 space-y-6">
        <!-- Currency selector -->
        <form>
          <div class="inline-block">
            <label for="mobile-currency" class="sr-only">Currency</label>
            <div class="-ml-2 group relative border-transparent rounded-md focus-within:ring-2 focus-within:ring-white">
              <select id="mobile-currency" name="currency" class="bg-none border-transparent rounded-md py-0.5 pl-2 pr-5 flex items-center text-sm font-medium text-gray-700 group-hover:text-gray-800 focus:outline-none focus:ring-0 focus:border-transparent">
                <option>CAD</option>

                <option>USD</option>

                <option>AUD</option>

                <option>EUR</option>

                <option>GBP</option>
              </select>
              <div class="absolute right-0 inset-y-0 flex items-center pointer-events-none">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" class="w-5 h-5 text-gray-500">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8l4 4 4-4" />
                </svg>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  [data-drawer-content] {
    @apply delay-500 opacity-0 pointer-events-none;

    .uiOverlay {
      @apply ease-in-out duration-500 opacity-0;
    }

    .uiDrawerContents {
      @apply transform transition ease-in-out duration-500 sm:duration-700 -translate-x-full;
    }
  }

  [data-drawer-content].display {
    @apply opacity-100 pointer-events-auto;
    transition-delay: 0ms;

    .uiOverlay {
      @apply ease-in-out duration-500 opacity-100;
    }

    .uiDrawerContents {
      @apply transform transition ease-in-out duration-500 sm:duration-700 translate-x-0;
    }
  }
</style>
