---
const { content } = Astro.props;
---
<div class="pt-32 overflow-hidden sm:pt-14">
  <div class:list={["mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 rounded-md", content.background_color]}>
    <div class="relative pt-48 pb-16 sm:pb-24">
      <div>
        <h2 id="sale-heading" class="text-4xl font-extrabold tracking-tight text-white md:text-5xl">
          { content.title }
          { content.subtitle != '' && (<br>{ content.subtitle } )}
        </h2>
        { content.button_text != '' && (<div class="mt-6 text-base">
          <a href={ content.button_link } class="font-semibold text-white">{ content.button_text }<span aria-hidden="true"> &rarr;</span></a>
        </div>) }
      </div>

      {/* TODO: load product images from selected collection, or array of selected products */}
      <div class="absolute -top-32 left-1/2 transform -translate-x-1/2 sm:top-6 sm:translate-x-0">
        <div class="ml-24 flex space-x-6 min-w-max sm:ml-3 lg:space-x-8">
          <div class="flex space-x-6 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
            <div class="flex-shrink-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-category-01.jpg" alt="">
            </div>

            <div class="mt-6 flex-shrink-0 sm:mt-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-category-02.jpg" alt="">
            </div>
          </div>
          <div class="flex space-x-6 sm:-mt-20 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
            <div class="flex-shrink-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-favorite-01.jpg" alt="">
            </div>

            <div class="mt-6 flex-shrink-0 sm:mt-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-favorite-02.jpg" alt="">
            </div>
          </div>
          <div class="flex space-x-6 sm:flex-col sm:space-x-0 sm:space-y-6 lg:space-y-8">
            <div class="flex-shrink-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-category-01.jpg" alt="">
            </div>

            <div class="mt-6 flex-shrink-0 sm:mt-0">
              <img class="h-64 w-64 rounded-lg object-cover md:h-72 md:w-72" src="https://tailwindui.com/img/ecommerce-images/home-page-03-category-02.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
