---
import Layout from '../../templates/Layout.astro';
import Filters from '../../molecules/collections/Filters.astro';
import MobileFilters from '../../molecules/collections/MobileFilters.astro';
import ImageTextBanner from '../../molecules/ImageTextBanner.astro';
import ProductCard from '../../molecules/ProductCard.astro';
//import json from '../../config/collections.json';
import { getCollections } from '../../routes/api/get-collections.js';
import { getProductsInCollection } from '../../routes/api/get-products.js';

export async function getStaticPaths({paginate}) {
	const collections = await getCollections();
	return await Promise.all( collections.map( async (c) => {
		c = c.node;
    const collection = await getProductsInCollection(c.handle);
		return {
			params: {
				collectionHandle: c.handle
			},
			props: { collection },
		};
	} ));
}

const { collectionHandle } = Astro.params;
const { collection } = Astro.props;
---

<Layout title={ collection.title } description={ collection.description }>
  <MobileFilters />

  <main>
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="py-24 text-center">
        <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">{ collection.title }</h1>
        <p class="mt-4 max-w-3xl mx-auto text-base text-gray-500">{ collection.description }</p>
      </div>

      <Filters />

      <!-- Product grid -->
      <section aria-labelledby="products-heading" class="mt-8">
        <h2 id="products-heading" class="sr-only">Products</h2>

        <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:gap-x-8">
          { collection.products.edges.map( product => {
            return <ProductCard product={product.node} />
          }) }
        </div>
      </section>

      <ImageTextBanner />

      <section aria-labelledby="more-products-heading" class="mt-16 pb-24">
        <h2 id="more-products-heading" class="sr-only">More products</h2>

        <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:gap-x-8">


          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-w-2 sm:aspect-h-3">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-01-image-card-08.jpg" alt="Extra large black leather workspace pad on desk with computer, wooden shelf, desk organizer, and computer peripherals." class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
              <h3>Leather Workspace Pad</h3>
              <p>$165</p>
            </div>
            <p class="mt-1 text-sm italic text-gray-500">Black</p>
          </a>

          <a href="#" class="group">
            <div class="w-full aspect-w-1 aspect-h-1 rounded-lg overflow-hidden sm:aspect-w-2 sm:aspect-h-3">
              <img src="https://tailwindui.com/img/ecommerce-images/category-page-01-image-card-09.jpg" alt="Leather long wallet held open with hand-stitched card dividers, full-length bill pocket, and simple tab closure." class="w-full h-full object-center object-cover group-hover:opacity-75">
            </div>
            <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900">
              <h3>Leather Long Wallet</h3>
              <p>$118</p>
            </div>
            <p class="mt-1 text-sm italic text-gray-500">Natural</p>
          </a>

          <!-- More products... -->
        </div>
      </section>
    </div>
  </main>
</Layout>
