---
import Image from '../../atoms/Image.astro';
const { images } = Astro.props
---

<div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">
  <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
    <Image image={images[0]?.node} cssClass="w-full h-full object-center object-cover" />
  </div>
  <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
    <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
      <Image image={images[1]?.node} cssClass="w-full h-full object-center object-cover" />
    </div>
    <div class="aspect-w-3 aspect-h-2 rounded-lg overflow-hidden">
      <Image image={images[2]?.node} cssClass="w-full h-full object-center object-cover" />
    </div>
  </div>
  <div class="aspect-w-4 aspect-h-5 sm:rounded-lg sm:overflow-hidden lg:aspect-w-3 lg:aspect-h-4">
    <Image image={images[3]?.node} cssClass="w-full h-full object-center object-cover" />
  </div>
</div>
