---
import Variant from './Variant.astro';
import ColourVariant from './ColourVariant.astro';
export interface Props {
  product: object;
}
const { product } = Astro.props as Props;
console.log(product.options);


---

<form class="mt-10">
  { product.options.map( (option, index) => {
    if (option.name == 'Colour')
      return <ColourVariant option={ option } />
    else
      return <Variant option={ option } index={ index } />
  }) }

  <button type="submit" class="mt-10 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add to bag</button>
</form>
