<form class="product-form">
  <!-- Colors -->
  <div class="product-form__variant">
    <h3>Color</h3>

    <fieldset>
      <legend class="sr-only">Choose a color</legend>
      <div class="product-form__variant-options product-form__variant-options--swatches">
        <!--
          Active and Checked: "ring ring-offset-1"
          Not Active and Checked: "ring-2"
        -->
        <label class="product-form__variant-option">
          <input type="radio" name="color-choice" value="White" class="sr-only" aria-labelledby="color-choice-0-label">
          <span id="color-choice-0-label" class="sr-only"> White </span>
          <span aria-hidden="true" class="swatch"></span>
        </label>

        <!--
          Active and Checked: "ring ring-offset-1"
          Not Active and Checked: "ring-2"
        -->
        <label class="product-form__variant-option">
          <input type="radio" name="color-choice" value="Gray" class="sr-only" aria-labelledby="color-choice-1-label">
          <span id="color-choice-1-label" class="sr-only"> Gray </span>
          <span aria-hidden="true" class="swatch bg-gray-200"></span>
        </label>

        <!--
          Active and Checked: "ring ring-offset-1"
          Not Active and Checked: "ring-2"
        -->
        <label class="product-form__variant-option">
          <input type="radio" name="color-choice" value="Black" class="sr-only" aria-labelledby="color-choice-2-label">
          <span id="color-choice-2-label" class="sr-only"> Black </span>
          <span aria-hidden="true" class="swatch bg-gray-900"></span>
        </label>
      </div>
    </fieldset>
  </div>

  <!-- Sizes -->
  <div class="product-form__variant">
    <div class="flex items-center justify-between">
      <h3>Size</h3>
      <a href="#" class="button button--link">Size guide</a>
    </div>

    <fieldset>
      <legend class="sr-only">Choose a size</legend>
      <div class="product-form__variant-options product-form__variant-options--grid">
        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option product-form__variant-option--not-available">
          <input type="radio" name="size-choice" value="XXS" disabled class="sr-only" aria-labelledby="size-choice-0-label">
          <span id="size-choice-0-label"> XXS </span>

          <span aria-hidden="true" class="absolute -inset-px rounded-md border-2 border-gray-200 pointer-events-none">
            <svg class="absolute inset-0 w-full h-full text-gray-200 stroke-2" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
              <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
            </svg>
          </span>
        </label>

        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option group">
          <input type="radio" name="size-choice" value="XS" class="sr-only" aria-labelledby="size-choice-1-label">
          <span id="size-choice-1-label"> XS </span>

          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
        </label>

        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option group">
          <input type="radio" name="size-choice" value="S" class="sr-only" aria-labelledby="size-choice-2-label">
          <span id="size-choice-2-label"> S </span>

          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
        </label>

        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option group">
          <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
          <span id="size-choice-3-label"> M </span>

          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
        </label>

        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option group">
          <input type="radio" name="size-choice" value="L" class="sr-only" aria-labelledby="size-choice-4-label">
          <span id="size-choice-4-label"> L </span>

          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
        </label>

        <!-- Active: "ring-2 ring-indigo-500" -->
        <label class="product-form__variant-option group">
          <input type="radio" name="size-choice" value="XL" class="sr-only" aria-labelledby="size-choice-5-label">
          <span id="size-choice-5-label"> XL </span>

          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="absolute -inset-px rounded-md pointer-events-none" aria-hidden="true"></span>
        </label>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="button button--primary">Add to bag</button>
</form>
