---
import Layout from '../templates/Layout.astro';

import Banner from '../organisms/Banner.astro';
import FeaturedCollection from '../organisms/FeaturedCollection.astro';
import Collections from '../organisms/Collections.astro';
//import LogoCloud from '../organisms/LogoCloud.astro';
import Instagram from '../organisms/Instagram.svelte';
import Slideshow from '../organisms/Slideshow.astro';
---
<Layout header="index" title="Welcome to Astro.">
	<main>
    <Slideshow />

    <FeaturedCollection title="Popular products" collection="popular" limit="12" />

    <Collections title="Shop by Category" collections={['apparel', 'tools', 'coffee']} />

		<!--
    <LogoCloud brands={['united-by-blue', 'ursa-major', 'snow-peak']} />
		-->

    {/*
    <!-- issue with instagram token/connection -->
    <Instagram title="Our Instagram" client:load limit="4" />
    */}

	</main>
</Layout>

<style>
  main {
    @apply pt-32;
  }
</style>
