---
import LayoutIndex from '../templates/Layout-index.astro';

import Banner from '../organisms/Banner.astro';
import Carousel from '../organisms/Carousel.astro';
import Collections from '../organisms/Collections.astro';
import LogoCloud from '../organisms/LogoCloud.astro';
import Instagram from '../organisms/Instagram.astro';
---
<LayoutIndex title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <hr>
    <!-- <Shopify /> -->
    <ul>
      <li><a href="products/chevron/">Sample product - Chevron T</a></li>
      <li><a href="products/5-panel-hat/">Sample product - 5 Panel Hat</a></li>
      <li><a href="collections/sample/">Sample collection</a></li>
      <li><a href="collections/frontpage/">Frontpage collection</a></li>
    </ul>

    <Banner>
      Hero
    </Banner>

    <Carousel>
      Best sellers
    </Carousel>

    <Collections>
      Collections
    </Collections>

    <LogoCloud />

    <Instagram>
      instagram feed
    </Instagram>

	</main>
</LayoutIndex>

<style>
  main {
    @apply pt-32;
  }
</style>
