---
import LayoutIndex from '../templates/Layout-index.astro';

import Banner from '../organisms/Banner.astro';
import Carousel from '../organisms/Carousel.astro';
import Collections from '../organisms/Collections.astro';
import LogoCloud from '../organisms/LogoCloud.astro';
import Instagram from '../organisms/Instagram.astro';
---
<LayoutIndex title="Welcome to Astro.">
	<main>
    <Banner>
      Hero
    </Banner>

    <Carousel collection="frontpage" limit=4>
      Best sellers
    </Carousel>

    <Collections collections={['apparel', 'tools', 'accessories']}>
      Collections
    </Collections>

    <LogoCloud brands={['united-by-blue', 'ursa-major', 'snow-peak']} />

    <Instagram>
      instagram feed
    </Instagram>

	</main>
</LayoutIndex>

<style>
  main {
    @apply pt-32;
  }
</style>
