---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <hr>
    <!-- <Shopify /> -->
    <ul>
      <li><a href="products/chevron/">Sample product</a></li>
      <li><a href="products/sample/">Sample collection</a></li>
    </ul>

	</main>
</Layout>
