---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <hr>
    <!-- <Shopify /> -->
    <ul>
      <li><a href="products/chevron/">Sample product - Chevron T</a></li>
      <li><a href="products/5-panel-hat/">Sample product - 5 Panel Hat</a></li>
      <li><a href="collections/sample/">Sample collection</a></li>
      <li><a href="collections/frontpage/">Frontpage collection</a></li>
    </ul>

	</main>
</Layout>
