---
//import { products, getProducts } from '../../store';
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
//import Shopify from '../routes/index.svelte';
//let productData = await getProducts();
const query = `{
  products(first:5) {
    edges {
      node {
        id
        title
				description
				images(first:1) {
					edges {
						node {
							src
							altText
						}
					}
				}
				handle
      }
    }
  }
}`
const endpoint = `https://${import.meta.env.API_ENDPOINT}/api/2022-07/graphql.json`;
const result = await fetch(endpoint, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-Shopify-Storefront-Access-Token': import.meta.env.API_TOKEN
    },
    body: JSON.stringify({ query })
  })
  .then( response => {
    if (!response.ok) {
      const err = new Error("Not 2xx response");
      err.response = response;
      throw err;
    } else {
      return response;
    }
  })
  .then(response => response.json());

if (result.errors) {
  console.log({ errors: result.errors });
} else if (!result || !result.data) {
  console.log({ result });
  return 'No results found.';
}
const products = result.data.products.edges;

---
<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <hr>
    <!-- <Shopify /> -->
		{ products.map( product => {
			return <ProductCard product={product.node} />
		}) }
	</main>
</Layout>
