---
import Gallery from '../../../organisms/products/Gallery.astro';
import ProductForm from '../../../molecules/products/ProductForm.astro';
import Price from '../../../atoms/Price.astro';
import Reviews from '../../../organisms/products/Reviews.astro';

const { product } = Astro.props
---

<Gallery images={product.images.edges} />

<!-- Product info -->
<div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
  <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{ product.title }</h1>
  </div>

  <!-- Options -->
  <div aria-labelledby="information-heading" class="mt-4 lg:mt-0 lg:row-span-3">
    <h2 id="information-heading" class="sr-only">Product information</h2>
    <Price price={product.priceRange} compare={product.compareAtPriceRange} />

    <Reviews product={ product } />

    <div class="mt-6 flex items-center">
      <!-- Heroicon name: solid/check -->
      <svg class="flex-shrink-0 w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      <p class="ml-2 text-sm text-gray-500">In stock and ready to ship</p>
    </div>

    <ProductForm product={ product }/>
  </div>

  <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <!-- Description and details -->
    <div>
      <h3 class="sr-only">Description</h3>

      <div class="space-y-6">
        <p class="text-base text-gray-900">{ product.description }</p>
      </div>
    </div>
  </div>
</div> <!-- /Product Info -->
