---
/* @vite-ignore */
import Icon from './Icon.astro';
export interface Props {
  label: string;
}
const { label } = Astro.props as Props;

import '../assets/styles/global.css';
---

<button class="button__add-to-cart mt-10 w-full bg-primary border border-transparent rounded-md py-3 px-8 relative min-h-[2.5rem] flex items-center justify-center text-white text-base font-medium text-white disabled:bg-primary-100 disable:ring-primary-300" data-add-to-cart>
	<span class="default">{label}</span>
	<span class="success"><Icon name="check"/></span>
	<span class="dots"></span>
</button>

<style>
.button__add-to-cart span {
	position: absolute;
	transition: opacity 0.1s ease-out;
}
.dots, .success {
	opacity: 0;
}

.loading .default,
.complete .default {
	opacity: 0;
}
.loading .dots {
  animation: flash 0.5s ease-out infinite alternate;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  height: 16px;
	opacity: 1;
  position: relative;
	transition: opacity 0.2s 0.1s ease-in;
  width: 16px;
}

.complete {
	@apply bg-green;
}
.complete .success {
	opacity: 1;
	transition: background-color 0.2s 0.1s ease-in, opacity 0.2s 0.1s ease-in;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}

</style>

<script>
document.querySelectorAll('[data-add-to-cart]').forEach(button => {
	button.addEventListener('e__cart_add_start', e => {
		console.log('e__cart_add_start');
		button.classList.add('loading');
	});
	button.addEventListener('e__cart_add_success', e => {
		console.log('e__cart_add_success');
		button.classList.remove('loading');
		button.classList.add('complete');
		setTimeout(() => { button.classList.remove('complete'); }, 2000);
	});
});
</script>