---
const { name, class: className } = Astro.props as Props;
const { default: innerHTML } = await import(`/src/assets/icons/${name}.svg?raw`);
---

<div class:list={['icon', className]}>
	<Fragment set:html={innerHTML} />
</div>