---
const { type, cssClass } = Astro.props as Props;
const style = `rounded bg-${type || 'blue-700'} text-white p-2 w-fit ${cssClass || ''}`;
/* For Tailwind JIT: bg-blue-700 bg-sale bg-new bg-green bg-orange-500 bg-emerald-600 */
---
<span class={style}>
	<slot />
</span>