<!-- Filters -->
{/*
<!-- https://shopify.dev/api/examples/filter-products#combine-filters -->

<section aria-labelledby="filter-heading" class="border-t border-gray-200 pt-6">
  <h2 id="filter-heading" class="sr-only">Product filters</h2>

  <div class="flex items-center justify-between">
    <div class="relative z-10 inline-block text-left">
      <div>
        <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
          Sort
          <!-- Heroicon name: solid/chevron-down -->
          <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
<!-- SORT ORDER -->
      <!--
        Dropdown menu, show/hide based on menu state.

        Entering: "transition ease-out duration-100"
          From: "transform opacity-0 scale-95"
          To: "transform opacity-100 scale-100"
        Leaving: "transition ease-in duration-75"
          From: "transform opacity-100 scale-100"
          To: "transform opacity-0 scale-95"
      -->
      <div class="origin-top-left absolute left-0 z-10 mt-2 w-40 rounded-md shadow-2xl bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="menu-item-0"> Most Popular </a>

          <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="menu-item-1"> Best Rating </a>

          <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="menu-item-2"> Newest </a>

          <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="menu-item-3"> Price: Low to High </a>

          <a href="#" class="block px-4 py-2 text-sm font-medium text-gray-900" role="menuitem" tabindex="-1" id="menu-item-4"> Price: High to Low </a>
        </div>
      </div>
    </div>
<!-- Product Type -->
    <!-- Mobile filter dialog toggle, controls the 'mobileFilterDialogOpen' state. -->
    <button type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden">Filters</button>

    <div class="hidden sm:flex sm:items-baseline sm:space-x-8">
      <div id="menu" class="relative z-10 inline-block text-left">
        <div>
          <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
            <span>Category</span>

            <span class="ml-1.5 rounded py-0.5 px-1.5 bg-gray-200 text-xs font-semibold text-gray-700 tabular-nums">1</span>
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <!--
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none">
          <form class="space-y-4">
            <div class="flex items-center">
              <input id="filter-category-0" name="productType[]" value="tees" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Tees </label>
            </div>

            <div class="flex items-center">
              <input id="filter-category-1" name="productType[]" value="crewnecks" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Crewnecks </label>
            </div>

            <div class="flex items-center">
              <input id="filter-category-2" name="productType[]" value="hats" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Hats </label>
            </div>

            <div class="flex items-center">
              <input id="filter-category-3" name="productType[]" value="bundles" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Bundles </label>
            </div>

            <div class="flex items-center">
              <input id="filter-category-4" name="productType[]" value="carry" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-4" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Carry </label>
            </div>

            <div class="flex items-center">
              <input id="filter-category-5" name="productType[]" value="objects" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-category-5" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Objects </label>
            </div>
          </form>
        </div>
      </div>
<!-- Vendor -->
      <div id="menu" class="relative z-10 inline-block text-left">
        <div>
          <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
            <span>Brand</span>
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <!--
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none">
          <form class="space-y-4">
            <div class="flex items-center">
              <input id="filter-brand-0" name="productVendor[]" value="clothing-company" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-brand-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Clothing Company </label>
            </div>

            <div class="flex items-center">
              <input id="filter-brand-1" name="productVendor[]" value="fashion-inc" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-brand-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Fashion Inc. </label>
            </div>

            <div class="flex items-center">
              <input id="filter-brand-2" name="productVendor[]" value="shoes-n-more" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-brand-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Shoes &#039;n More </label>
            </div>

            <div class="flex items-center">
              <input id="filter-brand-3" name="productVendor[]" value="supplies-n-stuff" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-brand-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Supplies &#039;n Stuff </label>
            </div>
          </form>
        </div>
      </div>
<!-- Colour variants -->
      <div id="menu" class="relative z-10 inline-block text-left">
        <div>
          <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
            <span>Color</span>
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <!--
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none">
          <form class="space-y-4">
            <div class="flex items-center">
              <input id="filter-color-0" name="variantOption[]" data-option-name="color" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> White </label>
            </div>

            <div class="flex items-center">
              <input id="filter-color-1" name="variantOption[]" data-option-name="color" value="black" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Black </label>
            </div>

            <div class="flex items-center">
              <input id="filter-color-2" name="variantOption[]" data-option-name="color" value="grey" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Grey </label>
            </div>

            <div class="flex items-center">
              <input id="filter-color-3" name="variantOption[]" data-option-name="color" value="blue" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Blue </label>
            </div>

            <div class="flex items-center">
              <input id="filter-color-4" name="variantOption[]" data-option-name="color" value="olive" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-4" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Olive </label>
            </div>

            <div class="flex items-center">
              <input id="filter-color-5" name="variantOption[]" data-option-name="color" value="tan" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-color-5" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> Tan </label>
            </div>
          </form>
        </div>
      </div>
<!-- Size variants -->
      <div id="menu" class="relative z-10 inline-block text-left">
        <div>
          <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
            <span>Sizes</span>
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="flex-shrink-0 -mr-1 ml-1 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <!--
          Entering: "transition ease-out duration-100"
            From: "transform opacity-0 scale-95"
            To: "transform opacity-100 scale-100"
          Leaving: "transition ease-in duration-75"
            From: "transform opacity-100 scale-100"
            To: "transform opacity-0 scale-95"
        -->
        <div class="origin-top-right absolute right-0 mt-2 bg-white rounded-md shadow-2xl p-4 ring-1 ring-black ring-opacity-5 focus:outline-none">
          <form class="space-y-4">
            <div class="flex items-center">
              <input id="filter-sizes-0" name="variantOptions[]" data-option-name="size" value="xs" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-0" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> XS </label>
            </div>

            <div class="flex items-center">
              <input id="filter-sizes-1" name="variantOptions[]" data-option-name="size" value="s" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-1" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> S </label>
            </div>

            <div class="flex items-center">
              <input id="filter-sizes-2" name="variantOptions[]" data-option-name="size" value="m" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-2" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> M </label>
            </div>

            <div class="flex items-center">
              <input id="filter-sizes-3" name="variantOptions[]" data-option-name="size" value="l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-3" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> L </label>
            </div>

            <div class="flex items-center">
              <input id="filter-sizes-4" name="variantOptions[]" data-option-name="size" value="xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-4" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> XL </label>
            </div>

            <div class="flex items-center">
              <input id="filter-sizes-5" name="variantOptions[]" data-option-name="size" value="2xl" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
              <label for="filter-sizes-5" class="ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap"> 2XL </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<section>
*/}