<nav aria-label="Breadcrumb">
  <ol role="list" class="breadcrumbs">
    <li>
      <div class="breadcrumb-item">
        <a href="#" class="breadcrumb--link"> Men </a>
        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="breadcrumb--separator">
          <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
        </svg>
      </div>
    </li>

    <li>
      <div class="breadcrumb-item">
        <a href="#" class="breadcrumb--link"> Clothing </a>
        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="breadcrumb--separator">
          <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
        </svg>
      </div>
    </li>

    <!-- <li class="text-sm">
      <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600"> { product.title } </a>
    </li> -->
  </ol>
</nav>
