<footer>
  <!-- <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>Anything you purchase on the sites below after clicking their adverts will help support Emerald MTB.</p>
        </div>
        <div class="col-12 col-lg-6 order-lg-2 mb-2 mb-lg-0 pl-0 pl-md-2 text-left text-md-center"><a
            href="https://www.awin1.com/cread.php?s=613641&amp;v=2698&amp;q=266939&amp;r=331979"><img
              src="https://www.awin1.com/cshow.php?s=613641&amp;v=2698&amp;q=266939&amp;r=331979"
              alt="But MTB products on Wiggle" border="0"></a></div>
        <div class="col-6 col-lg-3 order-lg-1 text-right"><a
            href="https://www.awin1.com/cread.php?s=115914&amp;v=1857&amp;q=207945&amp;r=331979"><img
              src="https://www.awin1.com/cshow.php?s=115914&amp;v=1857&amp;q=207945&amp;r=331979"
              alt="Support Emerald MTB by buying on Chain Reaction Cycles" border="0"></a></div>
        <div class="col-6 col-lg-3 order-lg-3 text-left"><a
            href="https://www.awin1.com/cread.php?s=343524&amp;v=4822&amp;q=162134&amp;r=331979"><img
              src="https://www.awin1.com/cshow.php?s=343524&amp;v=4822&amp;q=162134&amp;r=331979"
              alt="Bulk Powders fitness nutrition" border="0"></a></div>
        <div class="mt-3 col-12 order-lg-4 text-center">
          <p class="mb-0">It won't cost you any extra, but sends a tiny bit our way.</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="container-fluid bg-mid py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="text-white" id="subscribe">Subscribe to be the first to know when we publish new articles</h5>
          <form action="https://emerald-mtb.us14.list-manage.com/subscribe/post" method="POST" class="row"><input
              type="hidden" name="u" value="9f1bede709ae94c2f356f5df7"> <input type="hidden" name="id"
              value="7449b526e2">
            <div class="form-label-group col-12 col-md-4"><input class="form-control" required="" type="email"
                autocapitalize="off" autocorrect="off" autocomplete="email" name="MERGE0" id="MERGE0" size="25"
                placeholder=" "> <label for="MERGE0">Email address</label></div>
            <div class="form-label-group col-12 col-md-4"><input class="form-control" required=""
                autocomplete="given-name" type="text" name="MERGE1" id="MERGE1" size="25" placeholder=" "> <label
                for="MERGE1">First name</label></div>
            <div class="form-label-group col-12 col-md-3 d-none"><input class="form-control" autocomplete="family-name"
                type="text" name="MERGE2" id="MERGE2" size="25" placeholder=" "> <label for="MERGE2">Last name</label>
            </div>
            <div class="col-12 col-md-4"><input type="submit" class="btn btn-primary w-100 formEmailButton"
                name="submit" value="Subscribe to list"></div><input type="hidden" name="ht"
              value="a96dc35fd5dd56cf5ff34aeca52844b8df45edba:MTUzMjQ2ODA1NS42NzY5"> <input type="hidden"
              name="mc_signupsource" value="hosted">
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div class="content-wrapper py-4">
    <div class="navbar pt-0">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/features/">Features</a></li>
        <li class="nav-item"><a class="nav-link" href="/interviews/">Interviews</a></li>
        <li class="nav-item"><a class="nav-link" href="/reviews/">Reviews</a></li>
        <li class="nav-item"><a class="nav-link" href="/trails/">Trails</a></li>
        <li class="nav-item"><a class="nav-link" href="/videos/">Videos</a></li>
        <li class="nav-item"><a class="nav-link" href="/calendar/">Calendar</a></li>
        <li class="nav-item"><a class="nav-link" href="/lifestyle/">Lifestyle</a></li>
        <li class="nav-item"><a class="nav-link" href="/fitness/">Fitness</a></li>
        <li class="nav-item"><a class="nav-link" href="/w/shop/">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="https://facebook.com/emeraldmtb"><i
              class="fab fa-facebook"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://instagram.com/emerald_mtb"><i
              class="fab fa-instagram"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://tiktok.com/@emerald_mtb"><img src="/images/tiktok.svg"
              alt="Emerald MTB on TikTok" style="max-height:1rem;width:auto"></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCEh8jX7EQnuvlStAyu8Q35w"><i
              class="fab fa-youtube"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="/feed.xml"><i class="fas fa-rss"></i></a></li>
      </ul>
    </div>
    <div class="row credits">
      <div class="col-sm text-center text-light text-sm">&copy; Emerald MTB - All rights reserved</div>
    </div>
  </div>
  <div class="container-fluid bg-dark pb-2">
    <div class="container">
      <div class="row address">
        <div class="col-sm text-center text-light text-sm"><small>Emerald MTB is a registered business name. The
            registered address is: Gneeveguilla, Rathmore, Co. Kerry, Ireland</small></div>
      </div>
    </div>
  </div>
</footer>
