<nav>
  <div class="nav__wrapper">
    <a class="brand" href="/">Emerald MTB</a>
    <button class="navbar-toggler text-white"
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation"><span class="fas fa-bars"></span></button>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item dropdown megamenu-fw">
          <a class="nav__link dropdown-toggle" data-toggle="dropdown"
            role="button" aria-expanded="false" href="#">Features</a>
          <div class="hidden dropdown-menu megamenu-content" role="menu">
            <h5><a href="/features/">Show All Features</a></h5>
            <div class="megamenu-columns">
              <div class="megamenu-column"><a href="/events/"><img src="/images/posts/250x150/munster-gravity.jpg"
                    alt="Munster Gravity Champs 2019">
                  <h6 class="mt-2 mb-0 text-center">Events &amp; Races</h6>
                </a></div>
              <div class="megamenu-column"><a href="/interviews/"><img
                    src="/images/posts/250x150/three-rock-components.jpg" alt="Three Rock Components">
                  <h6 class="mt-2 mb-0 text-center">Interviews</h6>
                </a></div>
              <div class="megamenu-column"><a href="/lifestyle/"><img
                    src="/images/posts/250x150/planning-post-lockdown-trip.jpg"
                    alt="Planning A Post-Lockdown Mountain Biking Trip: The Only Guide You Need">
                  <h6 class="mt-2 mb-0 text-center">Lifestyle</h6>
                </a></div>
              <div class="megamenu-column"><a href="/trails/"><img
                    src="/images/posts/250x150/bikes-through-the-ages.jpg" alt="My Mountain Bike Ownership Journey">
                  <h6 class="mt-2 mb-0 text-center">Trails</h6>
                </a></div>
              <div class="megamenu-column"><a href="/videos/"><img
                    src="/images/posts/250x150/mucoff-rainproof-essentials.jpg" alt="Muc-Off Rainproof Essentials Case">
                  <h6 class="mt-2 mb-0 text-center">Videos</h6>
                </a></div>
            </div>
          </div>
        </li>
        <li class="nav__item"><a class="nav__link" href="/fitness/">Fitness &amp; Nutrition</a></li>
        <li class="nav__item"><a class="nav__link" href="/reviews/">Gear Reviews</a></li>
        <li class="nav__item"><a class="nav__link" href="/calendar/">Events Calendar</a></li>
        <li class="nav__item"><a class="nav__link" href="https://shop.spreadshirt.ie/emerald-mtb/"
            target="_blank">Shop</a></li>
      </ul>
    </div>
  </div>
</nav>
