---
import CartContents from '../organisms/CartContents.svelte';
const drawerId = "mini-cart";
---
<div id={drawerId} data-drawer-content class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity uiOverlay" data-drawer-control={drawerId}></div>

  <div class="fixed overflow-hidden">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <div class="pointer-events-auto w-screen max-w-md uiDrawerContents">
          <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
            <div class="py-6 px-4 sm:px-6">
              <div class="flex items-start justify-between">
                <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500" data-drawer-control={drawerId}>
                    <span class="sr-only">Close panel</span>
                    <!-- Heroicon name: outline/x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
						</div>

						<CartContents client:visible />

						<div class="pb-6 px-4 sm:px-6">
							<p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
							<div class="mt-6">
								<a href="/checkout" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
							</div>
							<div class="mt-6 flex justify-center text-center text-sm text-gray-500">
								<p>
									or <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500" data-drawer-control={drawerId}>Continue Shopping<span aria-hidden="true"> &rarr;</span></button>
								</p>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
	[data-drawer-content] {
		@apply delay-500 opacity-0 pointer-events-none;

    .uiOverlay {
      @apply ease-in-out duration-500 opacity-0;
    }

    .uiDrawerContents {
      @apply transform transition ease-in-out duration-500 sm:duration-700 translate-x-full;
    }
	}

	[data-drawer-content].display {
		@apply opacity-100 pointer-events-auto;
    transition-delay: 0ms;

    .uiOverlay {
      @apply ease-in-out duration-500 opacity-100;
    }

    .uiDrawerContents {
      @apply transform transition ease-in-out duration-500 sm:duration-700 translate-x-0;
    }
	}
</style>
