---
import { getCollectionDetails } from '../routes/api/get-collection-details';
import { collectionUrl } from '../routes/api/utils/makeUrl.js';
import Image from '../atoms/Image.astro';

const { collections: collectionHandles, title } = Astro.props as Props;
let collections = [];
await Promise.all( collectionHandles.map( async (handle) => {
	const collection = await getCollectionDetails(handle);
	collections.push(await collection);
} ));
---
<section aria-labelledby="category-heading" class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between">
      <h2 id="category-heading" class="text-2xl font-extrabold tracking-tight text-gray-900">{ title }</h2>
      <a href="#" class="hidden text-sm font-semibold text-primary hover:text-indigo-500 sm:block">Browse all categories<span aria-hidden="true"> &rarr;</span></a>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:grid-rows-2 sm:gap-x-6 lg:gap-8">
			{ collections.length >= 1 && collections[0] &&
				(<div class="group aspect-w-2 aspect-h-1 rounded-lg overflow-hidden sm:aspect-h-1 sm:aspect-w-1 sm:row-span-2">
					<Image image={collections[0].image} cssClass="object-center object-cover group-hover:opacity-75" />
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50"></div>
					<div class="p-6 flex items-end">
						<div>
							<h3 class="font-semibold text-white">
								<a href={ collectionUrl(collections[0].handle) }>
									<span class="absolute inset-0"></span>
									{ collections[0].title }
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>)
			}
      { collections.length >= 2 && collections[1] &&
				(<div class="group aspect-w-2 aspect-h-1 rounded-lg overflow-hidden sm:relative sm:aspect-none sm:h-full">
					<Image image={collections[1].image} cssClass="object-center object-cover group-hover:opacity-75 sm:absolute sm:inset-0 sm:w-full sm:h-full" />
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
					<div class="p-6 flex items-end sm:absolute sm:inset-0">
						<div>
							<h3 class="font-semibold text-white">
								<a href={ collectionUrl(collections[1].handle) }>
									<span class="absolute inset-0"></span>
									{ collections[1].title }
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>)
			}
      { collections.length >= 3 && collections[2] &&
				(<div class="group aspect-w-2 aspect-h-1 rounded-lg overflow-hidden sm:relative sm:aspect-none sm:h-full">
					<Image image={collections[2].image} cssClass="object-center object-cover group-hover:opacity-75 sm:absolute sm:inset-0 sm:w-full sm:h-full" />
					<div aria-hidden="true" class="bg-gradient-to-b from-transparent to-black opacity-50 sm:absolute sm:inset-0"></div>
					<div class="p-6 flex items-end sm:absolute sm:inset-0">
						<div>
							<h3 class="font-semibold text-white">
								<a href={ collectionUrl(collections[2].handle) }>
									<span class="absolute inset-0"></span>
									{ collections[2].title }
								</a>
							</h3>
							<p aria-hidden="true" class="mt-1 text-sm text-white">Shop now</p>
						</div>
					</div>
				</div>)
			}
    </div>

    <div class="mt-6 sm:hidden">
      <a href="#" class="block text-sm font-semibold text-primary hover:text-indigo-500">Browse all categories<span aria-hidden="true"> &rarr;</span></a>
    </div>
  </div>
</section>
