---
import MobileMenu from '../molecules/MobileMenu.astro';
import Navigation from '../molecules/Navigation.astro';
import Icon from '../atoms/Icon.astro';
import Logo from '../atoms/Logo.astro';
import CartDrawer from '../organisms/CartDrawer.astro';
---
{/* Larger header for home page */}
<div class="absolute w-full top-0">
  <MobileMenu />
  <header class="relative">
    <nav aria-label="Top" class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between">
        <button type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden" data-drawer-control="mobile-nav">
          <span class="sr-only">Open menu</span>
          <Icon name="menu" />
        </button>

        <Navigation />

        <!-- Logo -->
        <a href="/" class="block">
          <span class="sr-only">Workflow</span>
          <Logo cssClass="h-24 md:h-32 w-auto" />
        </a>

        <div class="flex items-center justify-end">
          <div class="flex items-center lg:ml-8">
            {/* TODO: search functionality */}
            {/*
            <a href="#" class="ml-2 p-2 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Search</span>
              <Icon name="search" />
            </a>
            */}
            {/* Todo: user sign-up/-in */}
            {/*
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Sign in</a>
            */}

            <!-- Cart -->
            <div class="ml-4 flow-root lg:ml-8">
              <a href="#" class="group -m-2 p-2 flex items-center" data-drawer-control="mini-cart">
                <Icon class="text-gray-400 group-hover:text-gray-500" name="bag" />
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800" data-cart-count>0</span>
                <span class="sr-only">items in cart, view bag</span>
              </a>
            </div>

            <CartDrawer />
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
