---
import Logo from '../atoms/Logo.astro';
import MobileMenu from '../molecules/MobileMenu.astro';
import Navigation from '../molecules/Navigation.astro';
import CartDrawer from '../organisms/CartDrawer2.astro';
---

<div>
  <MobileMenu />
  <header class="relative">
    <nav aria-label="Top">
      <!-- Top navigation -->
      <div class="bg-gray-900">
        <div class="max-w-7xl mx-auto h-10 px-4 flex items-center justify-end sm:px-6 lg:px-8">
          <div class="flex items-center space-x-6">
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Sign in</a>
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Create an account</a>
          </div>
        </div>
      </div>

      <!-- Secondary navigation : hidden -->
      <div class="bg-white shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="h-16 flex items-center justify-between">
            <!-- Logo (lg+) -->
            <div class="hidden lg:flex-1 lg:flex lg:items-center">
              <a href="/">
                <span class="sr-only">Workflow</span>
								<Logo cssClass="h-8 w-auto" />
              </a>
            </div>

            <Navigation />

            <!-- Mobile menu and search (lg-) -->
            <div class="flex-1 flex items-center lg:hidden">
              <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
              <button type="button" class="-ml-2 bg-white p-2 rounded-md text-gray-400" data-drawer-control="mobile-nav">
                <span class="sr-only">Open menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>

              <!-- Search -->
              <a href="#" class="ml-2 p-2 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Search</span>
                <!-- Heroicon name: outline/search -->
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </a>
            </div>

            <!-- Logo (lg-) -->
            <a href="/" class="lg:hidden">
              <span class="sr-only">Workflow</span>
              <Logo cssClass="h-8 w-auto" />
            </a>

            <div class="flex-1 flex items-center justify-end">
              <a href="#" class="hidden text-sm font-medium text-gray-700 hover:text-gray-800 lg:block"> Search </a>

              <div class="flex items-center lg:ml-8">
                <!-- Help -->
                <a href="#" class="p-2 text-gray-400 hover:text-gray-500 lg:hidden">
                  <span class="sr-only">Help</span>
                  <!-- Heroicon name: outline/question-mark-circle -->
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </a>
                <a href="#" class="hidden text-sm font-medium text-gray-700 hover:text-gray-800 lg:block">Help</a>

                <!-- Cart -->
                <div class="ml-4 flow-root lg:ml-8">
                  <a href="#" class="group -m-2 p-2 flex items-center" data-drawer-control="mini-cart">
                    <!-- Heroicon name: outline/shopping-bag -->
                    <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                    </svg>
                    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800" data-cart-count>0</span>
                    <span class="sr-only">items in cart, view bag</span>
                  </a>

									<CartDrawer  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
