---
import MobileMenu from '../molecules/MobileMenu.astro';
import Navigation from '../molecules/Navigation.astro';
import Logo from '../atoms/Logo.astro';
import CartDrawer from '../organisms/CartDrawer.astro';
---
{/* Larger header for home page */}
<div class="absolute w-full top-0">
  <MobileMenu />
  <header class="relative">
    <nav aria-label="Top" class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex items-center justify-between">
        <button type="button" class="bg-white p-2 rounded-md text-gray-400 lg:hidden" data-drawer-control="mobile-nav">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>

        <Navigation />

        <!-- Logo -->
        <a href="/" class="block">
          <span class="sr-only">Workflow</span>
          <Logo cssClass="h-24 w-auto" />
        </a>

        <div class="flex items-center justify-end">
          <div class="flex items-center lg:ml-8">
            <!-- Search -->
            <a href="#" class="ml-2 p-2 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Search</span>
              <!-- Heroicon name: outline/search -->
              <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </a>
            <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Sign in</a>

            <!-- Cart -->
            <div class="ml-4 flow-root lg:ml-8">
              <a href="#" class="group -m-2 p-2 flex items-center" data-drawer-control="mini-cart">
                <!-- Heroicon name: outline/shopping-bag -->
                <svg class="flex-shrink-0 h-6 w-6 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                </svg>
                <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                <span class="sr-only">items in cart, view bag</span>
              </a>
            </div>

            <CartDrawer />
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
