---
export interface Props {
	title: string;
  descrtiption; string;
  socialImage?: string;
  socialImageAlt?: string;
}

const { title } = Astro.props;
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<title>{title}</title>

{/* canonical */}

{/* FB open tags */}

{/* Twitter tags */}

{/* Google analytics */}