---
import { getBrandDetails } from '../routes/api/get-brands';
import { brandUrl } from '../routes/api/utils/makeUrl.js';
import Image from '../atoms/Image.astro';

const { brands: brandHandles } = Astro.props as Props;
let brands = [];
await Promise.all( brandHandles.map( async (handle) => {
	const brand = await getBrandDetails(handle);
	brands.push(await brand.collectionByHandle);
} ));

---
<section>
  <div class="bg-gray-200 bg-opacity-25">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <h2 class="max-w-md mx-auto text-3xl font-extrabold text-indigo-900 text-center lg:max-w-xl lg:text-left">Our favourite brands</h2>
        <div class="flow-root self-center mt-8 lg:mt-0">
          <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
						{ brands.map( brand => {
							return <div class="mt-4 ml-8 flex flex-grow flex-shrink-0 justify-center lg:flex-grow-0 lg:ml-4">
								<a href={brandUrl(brand.handle)} title={brand.title}>
									<Image image={brand.image} cssClass="h-12" />
								</a>
							</div>
						}) }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
