---
import FeaturedProducts from '../molecules/FeaturedProducts.astro';
import RecentlyViewed from '../molecules/RecentlyViewed.svelte';
export interface Props {
  title: string;
  products?: object;
	productHandle?: object;
}
const { title, products, productHandle } = Astro.props;
/**
 * TODO:
 * Load products from localstorage recently viewed
 *  - hydrate product cards so updated as vistors navigate
 * Add slideshow/carousel for products > 3
 */
---
<div class="bg-white">
  <div class="max-w-7xl mx-auto pb-16 px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between">
      <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">{ title || "Our Favorites" }</h2>
      <a href="#" class="hidden text-sm font-semibold text-primary hover:text-indigo-500 sm:block">Browse all {title}<span aria-hidden="true"> &rarr;</span></a>
    </div>

    <div class="mt-6">
			{/* TODO: Hydrate this section */}
      {products && <FeaturedProducts products={products} />}

			{!products && <RecentlyViewed productHandle={productHandle} client:load />}
    </div>

    <div class="mt-6 sm:hidden">
      <a href="#" class="block text-sm font-semibold text-primary hover:text-indigo-500">Browse all favorites<span aria-hidden="true"> &rarr;</span></a>
    </div>
  </div>
</div>
