---
import Slide from '../molecules/Slide.astro';
import 'keen-slider/keen-slider.min.css';

import json from '../data/index-slideshow-slides.json';
---
<!-- CTA section -->
<section class="slideshow">
  <div class="w-full max-w-7xl mx-auto pt-32 overflow-hidden sm:pt-14">
    <div class="w-full keen-slider">
      { json.slides.map( (slide, index) => <Slide content={slide} {index} /> )}
    </div>
  </div>
</section>

<script>
import KeenSlider from 'keen-slider';
var slider = new KeenSlider(
  '.keen-slider',
  {
    loop: true,
    created: () => {
      console.log('created')
    },
  },
  [
    // add plugins here
  ]
)

</script>
