---
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Gallery from '../../components/product/Gallery.astro';
import Reviews from '../../components/product/Reviews.astro';
import ProductForm from '../../components/product/ProductForm.astro';

// https://daily-dev-tips.com/posts/astro-moving-from-collections-to-dynamic-routing/
import { products, getProducts } from '../../routes/api/get-products';
import { productDetails, getProductsDetails, getProductDetails } from '../../routes/api/get-product-details';

export async function getStaticPaths({paginate}) {
	const result = await getProducts();
	const products = result.products.edges;
	return await Promise.all( products.map( async (p) => {
    const product = await getProductDetails(p.node.handle);
		return {
			params: {
				handle: product.handle
			},
			props: { product },
		};
	} ));
}
const { handle } = Astro.params;
const { product } = Astro.props;
---

<Layout title={ product.title }>
	<main>
		<div class="bg-white">
			<div class="pt-6">
				<Breadcrumbs />

				<Gallery />

				<!-- Product info -->
				<div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
					<div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
						<h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">{ product.title }</h1>
					</div>

					<!-- Options -->
					<div class="mt-4 lg:mt-0 lg:row-span-3">
						<h2 class="sr-only">Product information</h2>
						<p class="text-3xl text-gray-900">$192</p>

						<Reviews />

						<ProductForm />
					</div>

					<div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
						<!-- Description and details -->
						<div>
							<h3 class="sr-only">Description</h3>

							<div class="space-y-6">
								<p class="text-base text-gray-900">{ product.description }</p>
							</div>
						</div>

						<!-- <div class="mt-10">
							<h3 class="text-sm font-medium text-gray-900">Highlights</h3>

							<div class="mt-4">
								<ul role="list" class="pl-4 list-disc text-sm space-y-2">
									<li class="text-gray-400"><span class="text-gray-600">Hand cut and sewn locally</span></li>

									<li class="text-gray-400"><span class="text-gray-600">Dyed with our proprietary colors</span></li>

									<li class="text-gray-400"><span class="text-gray-600">Pre-washed &amp; pre-shrunk</span></li>

									<li class="text-gray-400"><span class="text-gray-600">Ultra-soft 100% cotton</span></li>
								</ul>
							</div>
						</div> -->

						<!-- <div class="mt-10">
							<h2 class="text-sm font-medium text-gray-900">Details</h2>

							<div class="mt-4 space-y-6">
								<p class="text-sm text-gray-600">{ product.description }</p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
