---
import Layout from '../../templates/Layout.astro';
import Breadcrumbs from '../../molecules/Breadcrumbs.astro';
import SingleImageLayout from '../../molecules/products/details/singleImageLayout.astro';
import GalleryLayout from '../../molecules/products/details/galleryLayout.astro';
import ProductGrid from '../../organisms/ProductGrid.astro';

// https://daily-dev-tips.com/posts/astro-moving-from-collections-to-dynamic-routing/
import { getAllProducts } from '../../routes/api/get-products';
import { getProductDetails } from '../../routes/api/get-product-details';

export async function getStaticPaths({paginate}) {
	const result = await getAllProducts();
	const products = result.products.edges;
	return await Promise.all( products.map( async (p) => {
    const product = await getProductDetails(p.node.handle);
		return {
			params: {
				productHandle: product.handle
			},
			props: { product },
		};
	} ));
}
const { productHandle } = Astro.params;
const { product } = Astro.props;

---

<Layout title={ product.title }>
	<main>
		<div class="bg-white pt-6">
      <Breadcrumbs />

      {product.images.edges.length <= 1 && <SingleImageLayout product={product} />}
      {product.images.edges.length > 1 && <GalleryLayout product={product} />}

      <ProductGrid title="Our Favourites" products={} />
		</div>
	</main>
</Layout>
